body {
    display: flex;
    background-color: burlywood;
    height: 100vh;
    justify-content: center;
    
}

.container {
    display: flex;
    flex-direction: column;
    width: 800px;
    background-color: red;
    justify-content: space-between;

}   

.header {
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    gap: 8px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info-text-container {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.info-text-head {
    font-weight: bold;
}

.info-text {
    font-size: 10px;
}

.sign-up {
    width: 80px;
    flex-grow: 0;
}

.logo-image {
    width:300px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images {
    display:flex;
    gap: 10px;
}

.image-text {
    display: flex;
    flex-direction: column;
    width: 90px;
}

.info-image {
    width: 90px;
}

.text {
    font-size: 10px;
}

.quotes {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color: gray;
}

.quote {
    display: flex;
    justify-content: center;
    width: 300px;
    
}

.author {
    font-weight: bold;
    margin-left: 200px;
}

.sign-up-call-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.sign-up-place {
    display: flex;
    background-color: lightblue;
    align-items: center;
    padding: 8px;
}

.sign-up-call {
    
    font-size: 20px;
}

.footer {
    display: flex;
    height: 72px;
    justify-content: center;
    align-items: center;
}